.title{
  text-align: center;
  margin: 2rem auto;
  border-bottom: black 2px solid;
  width: 10rem;
}

.container{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 10px;
  border: 2px grey solid;
  height: auto;
  padding: 8px;
}

.product-card{
  width: 22%;
  height: 20rem;
  border: 1px solid black;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.product-title{
  font-size: 2rem;
}

.product-price{
  font-size: 1.3rem;
}

.img-container{
  height: 200px;
  width: 100%;
  margin-top: 5px;
}

.product-img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  margin-top: 5px;
}

.cart{
  font-size: 2rem;
  position: absolute;
  right: 20px;
  top: 20px;
  text-decoration: none;
}

.add-btn{
  width: 50%;
  height: 30px;
  margin: auto;
  border-radius: 10px;
  outline: none;
}

button{
  cursor: pointer;
}