form{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 15rem;
  margin: 12rem auto;
  border-radius: 10px;
  border: 2px grey solid;
  justify-content: space-between;
  padding: 20px;
}

h4{
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  margin-bottom: 2rem;
}

.form-inputs{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.form-row{
  display: flex;
  justify-content: space-between;
}

input{
  width: 50%;
}

button{
  cursor: pointer;
}